<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset 2">
    <h2>EditarS Material</h2>
    <a class="btn btn-primary float-md-right" routerLink="/material">Regresar al listado</a>
    <br>
    <form [formGroup]="this.materialService.form" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="$key">
      <div class="form-group">
        <label>Marca</label>
        <input formControlName="marca" class="form-control" [ngClass]="{'is-invalid':submitted && this.materialService.form.marca.errors}">
        <div class="invalid-feedback" *ngIf="submitted && this.materialService.form.marca.errors">
          <label *ngIf="this.materialService.form.marca.errors.required">Campo obligatorio.</label>
          <label *ngIf="this.materialService.form.marca.errors.minlength">Demasiado corto.</label>
        </div>
      </div>

      <div class="form-group">
        <label>Prenda</label>
        <input formControlName="prenda" class="form-control" [ngClass]="{'is-invalid':submitted && this.materialService.form.prenda.errors}">
        <div class="invalid-feedback" *ngIf="submitted && this.materialService.form.prenda.errors">
          Campo obligatorio.</div>
      </div>
      <div class="form-group">
        <label>Deporte</label>
        <input formControlName="deporte" class="form-control" [ngClass]="{'is-invalid':submitted && this.materialService.form.deporte.errors}">
        <div class="invalid-feedback" *ngIf="submitted && this.materialService.form.deporte.errors">
          Campo obligatorio.</div>
      </div>
      <div class="form-group">
        <label>Talla</label>
        <input formControlName="talla" class="form-control" [ngClass]="{'is-invalid':submitted && this.materialService.form.talla.errors}">
        <div class="invalid-feedback" *ngIf="submitted && this.materialService.form.talla.errors">
          Campo obligatorio.</div>
      </div>

      <div class="form-group">
        <label>Persona</label>
        <input formControlName="persona" class="form-control" [ngClass]="{'is-invalid':submitted && this.materialService.form.persona.errors}">
        <div class="invalid-feedback" *ngIf="submitted && this.materialService.form.persona.errors">
          Campo obligatorio.</div>
      </div>

      <div class="form-group">
        <label>Precio</label>
        <input formControlName="precio" class="form-control" [ngClass]="{'is-invalid':submitted && this.materialService.form.precio.errors}">
        <div class="invalid-feedback" *ngIf="submitted && this.materialService.form.precio.errors">
          Campo obligatorio.</div>
      </div>

      <div class="form-group">
          <input type="submit" class="btn btn-primary" (click)="saveEdit()" value="Submit">
        </div>



    </form>
    <div class="alert alert-info" *ngIf="showSuccessMessage">
      Editado Correctamente.
    </div>
  </div>
</div>
